body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

.Home {
  display: flex;
  flex: 1;
  height: auto;
  background-color: #808080;
}

.sideNav {
  width: auto;
  height: 90vh;
}

.userProfile {
  flex: 4;
  justify-content: center;
  align-items: center;
  padding: 50px
}