/* General Page Styles */
body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
 
}

#root {
    width: 100%;
    height: 100%;
}

/* BunnyBuddies Container */
.bunnybuddies-container {
    display: flex;
    height: 100%;
    gap: 20px;
    padding: 25px;
    box-sizing: border-box;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(52,9,30,1) 0%, rgba(21,27,37,1) 100%);

}

/* Content Container */
.content-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    gap: 50px;
    border-radius: 50px;
    overflow-y: auto;
    clip-path: inset(0 round 50px);
    padding: 25px;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(52,9,30,1) 0%, rgba(21,27,37,1) 100%);
}

/* Chat Window */
.chat-window {
    flex: 1;
    border-left: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
}

.header-container {
    width: 200px; /* Adjust width as needed */
    height: 100%; /* Ensure it fills the available height */
}
