/* General Page Styles */
body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(52,9,30,1) 0%, rgba(21,27,37,1) 100%);
}

#root {
    width: 100%;
    height: 100%;
}

/* BunnyBuddies Container */
.bunnybuddies-container {
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        gap: 50px;
        height: 65vh;
        padding: 25px;
        border-radius: 50px;
        overflow-y: auto;
        clip-path: inset(0 round 50px);
    }




