.feed-container1 {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: calc(90% / 4);
}

.sort-posts {
  padding: 50px;
}