.feed {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.feed-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  justify-content: space-between;
}

.without-sidenav {
  padding: 15px;
}

.side-nav {
  width: 30px;
}

.all-posts {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 50px;
  gap: 25px;
}

.sort-posts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Media queries */
@media (max-width: 768px) {
  /* Adjust for tablets */
  .feed-container {
    flex-direction: column;
  }
}
