header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    border-bottom: 2px solid #000000;
}

.hobbyhoplogo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}