header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: #F9F1F1;
    border-bottom: 2px solid #FF773E;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.logo {
    font-weight: bold;
    font-size: 1.8rem;
}

#span-blue {
    color: #FF773E;
}

#span-orange {
    color: #00CDCD;
}