.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(52,9,30,1) 0%, rgba(21,27,37,1) 100%);
}

.hero-container {
    padding-left: 150px;
    padding-right: 150px;
}

@media (min-width: 769px) and (max-width: 1200px) {
    .hero-container {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .hero-container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 300px) and (max-width: 575px) {
    .hero-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}