.form-container {
  position: relative; /* Ensure pseudo-element is positioned correctly */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Ensure blur effect does not overflow */
  padding-bottom: 25px;
}

/* Add a pseudo-element for the background blur */
.form-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(0, 0%, 100%, 0.3); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  z-index: -1; /* Ensure blur is behind the content */
}

.form-container h1 {
  color: white;
}

.exit-create-account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}

.hobbyhoplogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login, .signup p {
  text-align: center;
  margin: 0;
}

.login-button, .signup-button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-family: 'Comfortaa', sans-serif;
}

.login-button:hover, .signup-button:hover {
  color: #7c8a43;
  text-decoration: underline;
}

.exit-login {
  cursor: pointer;
}

form {
  position: relative; /* Ensure it’s above the pseudo-element */
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  background: rgb(2,0,36);
  background: radial-gradient(circle at 25px 50px, rgba(2,0,36,1) 0%, rgba(52,9,30,1) 0%, rgba(21,27,37,1) 100%); /* Slightly opaque background for form */
  padding: 50px;
  border-radius: 25px;
}

.create-form {
  display: flex;
  flex-direction: column;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  height: 20px;
  border: none;
  padding-bottom: 10px;
  padding-top: 10px;
 /* Solid background for input fields */
}

form input[type="submit"] {
  border: none;
  border-radius: 25px;
  padding-top: 10px;
}

@media (max-width: 600px) {
  .form-container {
    height: auto;
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  form {
    width: 100%;
  }

  .hobbyhoplogo {
    width: 100%;
    margin-bottom: -15px;
  }
}
