.profile-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  transition: transform 0.3s ease-in-out;
  max-width: 200px; /* Smaller width for a compact design */
  margin: 0 auto; /* Center the card within its container */
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.profile-name {
  font-size: 1.2rem;
  color: #426a5a;
  margin-bottom: 8px;
}

.profile-bio {
  font-size: 0.9rem;
  color: #333333;
  margin-bottom: 15px;
  flex-grow: 1;
}

.hobby-button {
  background-color: #ef6f6c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease-in-out;
}

.hobby-button:hover {
  background-color: #ddae7e;
}
