.side-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.nav-top {
  height: 30px;
}

.nav-bottom {
  height: 30px;
}

.nav-item svg {
  height: 30px;
  width: 30px;
}

.icon {
  width: 60px;
  height: 60px;
}
