.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30px;
  height: 100%;
  background-color: lightgray;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-top, .nav-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.nav-top {
    margin-top: 20px;
}

.nav-bottom {
    margin-bottom: 20px;
}

.nav-item {
  height: auto;
}

.nav-item svg {
  width: 100%;
  height: auto;
}

.icon {
  width: 60px;
  height: 60px;
}
