.sort-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
  padding-left: 25px;
  padding-bottom: 25px;
  align-items: center;
}

.sort-buttons p {
  margin: 0;
}

.sort-buttons a {
  color: white;
  text-decoration: underline;
  padding: 10px;
}

.sort-buttons a:hover {
  color: #7c8a43;
  text-decoration: underline;
}

@media (max-width: 700px) {
  .sort-buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
}