.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(52,9,30,1) 0%, rgba(21,27,37,1) 100%);
    height: 100vh;
    width: 100vw;
}

.about-me {
    background: none;
}

.side-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.side-nav-container {
    width: 100%;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(52,9,30,1) 0%, rgba(21,27,37,1) 100%);
    color: white;
    max-width: 500px;
    border-radius: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    gap: 25px;
    box-sizing: border-box; /* Ensures padding is included in width calculation */
}

.profile-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.uploaded-profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.name-and-pronouns {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.profile-heading {
    margin: 0;
}

.description-paragraph {
    text-align: justify;
    line-height: 1.6;
    margin: 0;
}

.interests {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interest-add {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.interest-heading {
    margin: 0 10px 0 0;
}

.interest-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.interest-tag {
    background: #b8cc76;
    border-radius: 30px;
    padding: 10px;
    color: black;
    font-size: 14px;
}

.user-container {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-profile-button {
    width: auto;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}


@media (max-width: 768px) {
    .inner-container {
        padding: 20px;
        gap: 15px;
        max-width: 90%;
        /* Adjust max-width on smaller screens */
    }
}

@media (max-width: 480px) {
    .inner-container {
        padding: 15px;
        gap: 10px;/* Further adjust max-width on very small screens */
    }

    .profile-container {
        height: 100vh;
    }
}


